<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Drumpft is surely finished this time!
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:700")
        link(rel="stylesheet", href="/style.css")
    body
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="/generate.js")
        div(class="jumbotron")
            script 
            h1(class="display-6") Automatic Drumpf troller
            p Drumpf will surely resign after seeing this!
            p Just click the button and become the next late-night TV show STAR!
            button(class="waves-effect waves-light btn-large" id="trolldrumpf-button") Troll Drumpf EPIC STYLE
            br
            br
            div(id="generatedNameDiv")
                p(id="generatedName")
            div
                h2(class="display-4") Reviews
                img(src="/drumpf.jpg", alt="Unable to load image of drumpf", width="240", height="160")
                h3 Dronald Drumpfy
                p Wow, this website is just way too epic for me to handle.
                p When Mike showed me this site, i had a seizure. The resistance has won. I have impeached myself.
                hr
                img(src="/pence.jpg", alt="Unable to load image of pence")
                h3 Mike Pence
                p Wow, this website is very very epic. Even epicer than an ali-a fortnite video.
                p Thanks to this website, DRUMPFY BOY has been impeached and i am now president.
                p 
                    | Thanks 
                    a(href="https://reddit.com/u/ganggvnggvng") ganggvnggvng
                    | !
                